{% extends 'base.html' %}


{% block content %}
	
	Target topic: <span  
				data-toggle="tooltip" 
				data-placement="right" 
				title="{{target_topic.top_words_html}}"
				data-html="true">
				{{target_topic}}
				</span>
	<hr>
	{% for topic in topics %}
		{% if topic != target_topic %}
			<input type="checkbox" onclick="checkChanged({{topic.index_id}});">
				<span  
				data-toggle="tooltip" 
				data-placement="right" 
				title="{{topic.top_words_html}}"
				data-html="true">
				{{topic}}
				</span>
			</input>
			<br>
		{% endif %}
	{% endfor %}
	
	<form method='post'>
		<input type="hidden" name="task_id" value="{{task.id}}" />
		<input type="hidden" name="selected_topics" id="selected_topics" value="[]" />
		<button class="btn btn-success">Next!</button>
		<input type="hidden" name="finished" />
		<input id="continue" type="hidden" name="continue" value="true" />
		{% csrf_token %}
	</form>
	
{% endblock %}

{% block javascript %}
<script type="text/javascript">

	// Enable all tooltips
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
	});
	
	var topics = {};
	function checkChanged(topic_id) {
		if (!topics[topic_id]) topics[topic_id] = true;
		else topics[topic_id] = false;
		val = "";
		for (var i in topics) {
			if (topics[i]) {
				val += i + ",";
			}
		} 
		if (val.length > 0)	val = val.substr(0, val.length - 1);
		val = "[" + val + "]";
		document.getElementById("selected_topics").value = val;
	}
</script>
{% endblock %}
 