{% extends 'base.html' %} 
 

{% block content %} 
	
	
	<form method="POST" id="formCM">
		
		<input type="hidden" name='x' id="x"> </input>
		<input type="hidden" name='y' id="y"> </input>
		<input type="hidden" name='new_val' id="new_val"> </input>
				
		<input type="hidden" name='action' value="change_matrix"> </input>
		<input type="hidden" name='problem_id' value="{{problem.id}}"> </input>
		{% csrf_token %}
	</form> 
	
	{% for topic in topics %}
		{{ topic.index_id }}. {{topic.title}}
		<br>
	{% endfor %}
	
	<table border="solid">
		<tr>
			<td></td>
			{% for topic in topics %}
				<td>{{topic.index_id}}</td>
			{% endfor %}
		</tr>
	{% for row in matrix %}
		<tr>
			<td>{{forloop.counter0}}</td>
			{% for value in row %}
				<td>
					<input id = "tb{{forloop.parentloop.counter0}},{{forloop.counter0}}"
						type="numeric" style="width: 3em" min="0" max="10" value="{{value}}" 
						onchange="changed({{forloop.parentloop.counter0}},{{forloop.counter0}});"/>
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
	<table>
{% endblock %}

{% block javascript %}
<script type = "text/javascript">
	function changed(x, y) {
		value = document.getElementById("tb" + x + "," + y).value;
		document.getElementById("x").value = x;
		document.getElementById("y").value = y;
		document.getElementById("new_val").value = value;
		document.getElementById("formCM").submit();
	}
</script>
{% endblock %}
 


