{% extends 'base.html' %} 
 

{% block content %} 
	<form method="POST" action="/assessment/problem">
		<div>
			Model: 
			<select name="model_id">
				<option value="-1" {% if not model %}selected="selected"{% endif %}>None</option>
				
				{% for x in models %}
					<option value="{{x.id}}"{% if problem.model == x %}selected="selected"{% endif %}>{{x}}</option>
				{% endfor %}								
			</select>
			<button type="submit">Change model</button>
		</div>
		<input type="hidden" name='action' value="change_model"> </input>
		<input type="hidden" name='problem_id' value="{{problem.id}}"> </input>
		{% csrf_token %}
	</form> 
{% endblock %}
 


