*.pyc
*.so
*.o
*.exe

/.idea
/algo/arranging/temp/*
/cpp
/data/datasets/*
/data/research/*
/data/temp/*
!/data/datasets/example
/data/datasets/example/*
!/data/datasets/example/vw.txt
!/data/datasets/example/vocab.txt
!/data/datasets/example/wordpos
!/data/datasets/example/documents
!/data/datasets/example/meta
/temp
/doc
/visartm-env
/visartm/settings.py
/visartm.sqlite

/static/docs

/algo/lkh/*
!/algo/lkh/readme.txt

*.FEDIMSER.*
*.batch
start.bat

**/migrations/**
!**/migrations
!**/migrations/__init__.py

