*.pyc

/.idea
/cpp
/data/datasets/*
/data/research/*
!/data/datasets/example
/data/datasets/example/*
!/data/datasets/example/vw.txt
!/data/datasets/example/vocab.txt
!/data/datasets/example/wordpos
!/data/datasets/example/documents
/temp
/doc
/visartm-env
/visartm/settings.py
/visartm.sqlite

*.FEDIMSER.*
*.batch
start.bat

**/migrations/**
!**/migrations
!**/migrations/__init__.py

