appdirs==1.4.0
cycler==0.10.0
DAWG-Python==0.7.2
Django==1.10.5
docopt==0.6.2
matplotlib==2.0.0
nltk==3.2.2
numpy==1.12.0
packaging==16.8
pandas==0.19.2
protobuf==3.2.0
psycopg2==2.6.2
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
scikit-learn==0.18.1
six==1.10.0
sklearn==0.0
tqdm==4.11.2
