{% extends 'base.html' %}


{% block style %}
<style>
	.btn-left { 
		border-radius: 9999em 0 0 9999em;
		heigth:10px;
	}
	.btn-right { 
		border-radius: 0 9999em 9999em 0;
	}
</style>
{% endblock %}

{% block content %}
	  
	
	<form method='post' style="display: none;" id="form_move">
		<input type="hidden" name="task_id" value="{{task.id}}"  />
		<input type="hidden" name="action"  id="action" />
		<input type="hidden" name="topic_index_id" id="topic_index_id" />			
		{% csrf_token %}
	</form>
	
	{% for topic in topics %} 
		 
			<form method='post' style="display: inline-block;">
				<input type="hidden" name="task_id" value="{{task.id}}" />
				<input type="hidden" name="action" value="topic_up" />
				<input type="hidden" name="topic_index_id" value="{{topic.index_id}}" />			
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default" onclick="move({{topic.index_id}}, 'topic_up')"><small>↑</small></label>
					<label class="btn btn-default" onclick="move({{topic.index_id}}, 'topic_down')"><small>↓</small></label>
				</div>
				{% csrf_token %}
			</form> 
			
			<span  
				data-toggle="tooltip" 
				data-placement="right" 
				title="{{topic.top_words_html}}"
				data-html="true">
				{{topic}}
			</span>
		<br> 
		
	{% endfor %}
	
	<form method='post'>
		<input type="hidden" name="task_id" value="{{task.id}}" />
		<button class="btn btn-success">Done</button>
		<input type="hidden" name="finished" />
		{% csrf_token %}
	</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

	// Enable all tooltips
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
	});
	
	 
	
	function move(topic_index_id, action) {
		document.getElementById('topic_index_id').value = topic_index_id;
		document.getElementById('action').value = action;
		document.getElementById('form_move').submit();
	}
</script>
{% endblock %}
 