{% extends 'base.html' %}

{% block title %}VisARTM | {{account}}{% endblock %}

{% block content %}
	<h1>Account {{account.username}}</h1>
	
	<a href="/accounts/sendmail">Send test e-mail</a>
	<hr>
	<h3>Permissions</h3> 
	{% for permission in permissions %}
		<p>{{permission.name}} {% if permission.value %}Yes{% else %}No{% endif %}   </p>
	{% endfor %}
	
	<hr>
	{% if models %}
		<h3>Models</h3>
		{% for model in models %}
			<p> <a href="/visual/model?model={{model.id}}">{{model.dataset}}/{{model}}</a></p>
		{% endfor %}
		<hr>
	{% endif %}
  
	{% if public_datasets %}
		<h3>Public datasets</h3>
		{% for dataset in public_datasets %}
			<p> <a href="/dataset?dataset={{dataset.text_id}}">{{dataset}}</a></p>
		{% endfor %} 
		<hr>
	{% endif %}
  
	{% if private_datasets %}
		<h3>Private datasets</h3>
		{% for dataset in private_datasets %}
			<p> <a href="/dataset?dataset={{dataset.text_id}}">{{dataset}}</a></p>
		{% endfor %} 
		<hr>
	{% endif %}

	 
	
	{% if assessment_problems %}
		<h3>Assessment problems</h3>
		{% for entry in assessment_problems %}
			<h4>{{entry.problem}}</h4>
			<ul>
				{% if entry.supervise %}
					<li><a href="/assessment/problem?problem_id={{entry.problem.id}}">General settings</a></li>
					<li><a href="/assessment/problem?problem_id={{entry.problem.id}}&mode=settings">Specific settings</a></li>
					<li><a href="/assessment/get_results?problem_id={{entry.problem.id}}">Get results</a></li>
					<li><a href="/assessment/get_results?problem_id={{entry.problem.id}}&mode=file">Get results (as file)</a></li>
				{% endif %}
				
				<li><a href="/assessment/instructions?problem_id={{entry.problem.id}}">Read the instructions</a></li>
				{% if entry.tasks %}
					<li>Current tasks</li>
					<ul>
					{% for task in entry.tasks %}
						<li><a href="/assessment/task?task_id={{task.id}}">{{task}}</a></li>
					{% endfor %}
					</ul>
				{% endif %}
				<li><a href="/assessment/get_task?problem_id={{entry.problem.id}}">Get new task</a></li>
			</ul>
		{% endfor %} 
		<hr>
	{% endif %}
	
	{% if researches %}
		<h3>Researches</h3>
		<table class = "table table-bordered table-hover">
			<thead><tr>
				<td>Id</td>
				<td>Dataset</td>
				<td>Script</td>
				<td>Model</td>
				<td>Assesment problem</td>
				<td>Duration</td>
				<td>Status</td>
				<td>Rerun</td>
			</tr></thead>
			<tbody>
			{% for research in researches %}
				<tr>
					<td><a href="/research/{{research.id}}/">{{research.id}}</a></td>
					<td>{{research.dataset}}</td>
					<td>{{research.script_name}}</td>
					<td>{{research.model}}</td>
					<td>{{research.problem}}</td>
					<td>{{research.duration}}</td>
					<td>
						{% if research.status == 1 %}
							Running
						{% elif research.status == 2 %}
							<span style="color:green;">OK</span>
						{% elif research.status == 3 %}
							<span style="color:red;">Error</span>
						{% elif research.status == 4 %}
							<span style="color:red;">Interrupted</span>
						{% endif %}
					</td>
					<td>
						{% if research.status == 2 %}
							<a href="/research/rerun?id={{research.id}}">Rerun</a>
						{% elif research.status == 3 %}
							<a href="/research/rerun?id={{research.id}}">Rerun</a>
						{% elif research.status == 4 %}
							<a href="/research/rerun?id={{research.id}}">Rerun</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>  
	{% endif %}
 
  
{% endblock %}