{% extends 'base.html' %}

{% block title %}VisARTM | Assessment task {% endblock %}

{% block style %}
<style>
	#content, #topics-list, #hint{
		float: left; 
		width:100%;
		height: 100%;
		overflow-y: scroll;
		height:85%;
	}
 
	
	.keyword {
		font-weight: bold;
	}
	
	.context {
			color: #cccccc;
			font-style: italic;
			user-select: none;
			background-color: white;
		}
		
	#descr {
		border-style: solid;
		border-radius: 8px;
	}
</style>
{% endblock %}

{% block supercontent %}
	<div class='container-fluid'>
		<div class="col-sm-7">
			<div id="content">			
				<div  onmouseup="doSelection()">
					<p>Assesment task #{{task.id}}</p>
					<p>{{task}}.</p>
				 
					<div id="text">
					  {% autoescape off %}{{text}}{% endautoescape %}
					</div>		
				</div>
				
				<hr>
				 
				

				<div>
					<form id="finishForm" method="POST">
						<button type="submit" class="btn btn-success">Следующий</button>
						<input type="hidden" name="task_id" value="{{task.id}}" />
						<input type="hidden" name="finished" />
						<input id="continue" type="hidden" name="continue" value="true" />
						{% csrf_token %}
					</form>
				</div>
				
				
				<a onclick="finish();">Завершить оценивание</a>  
				<br>
				<a href="/assessment/get_task?problem_id={{task.problem.id}}">Пропустить</a>  
				 
					
				
				
			</div>
		</div>
		<div class="col-sm-3">
			<div  id="topics-list"> 
				<form id="formSelectTopic">
					{% if topic_first %}
						<input type="radio" name='selected_topic' id="rb-1" value="-1" checked="checked" onclick="showDescription();">Нет темы</input>
					{% else %}
						<a id="rb-1" onclick="clickTopic(-1);" class="nolink">Нет темы</a>
					{% endif %}
					<br>
					{% for topic in topics %}
						{% if topic.color > 0 %} 
							{% if topic_first %}
								<input 
									type = "radio" 
									name='selected_topic'
									value='{{topic.topic.index_id}}'
									onclick="showDescription();"
									{% if selected_topic == topic.topic.index_id %} checked="checked" {% endif %}
								><span 	id="rb{{topic.color}}">{{topic.topic.name}}</span></input>
							{% else %}
								<a id="rb{{topic.color}}" onclick="clickTopic({{topic.topic.index_id}}, true);">{{topic.topic.name}}</a>
							{% endif %}
							<sup><a onClick="notUseTopic({{topic.topic.index_id}});"><big>x</big></a></sup>
							<br>
						{% endif %}
					{% endfor %} 
					<hr>					
					{% for topic in topics %}
						{% if topic.color < 0 %} 
							<a onClick="clickTopic({{topic.topic.index_id}}, false);">{{topic.topic.name}}</a>
							<br>
						{% endif %}
						
					{% endfor %}  	
				</form>
			 
			
				<form id = "formAddTopic" method="POST" action="/assessment/problem">
					<input type="text" name='name' placeholder = "Название темы"></input>
					<button type="submit">Добавить</button>
					<input type="hidden" name='problem_id' value="{{task.problem.id}}"> </input>
					<input type="hidden" name='action' value="add_topic"> </input>
					<input type="hidden" name='next' value="/assessment/task?task_id={{task.id}}"> </input> 
					{% csrf_token %}
				</form>
				
			</div>	 
			 
				
			<form id="formMain" method="POST">
				<input type="hidden" name="task_id" value="{{task.id}}" />
				<input type="hidden" id="selection_end" name="selection_end" value="0"/>
				<input type="hidden" id="selection_start" name="selection_start" value="0"/>
				<input type="hidden" id="scroll_top" name="scroll_top" value="0"/>
				<input type="hidden" id="action" name="action" value="selection"/>
				<input type="hidden" id="topic_id" name="topic_id" value="0"/>	
				{% csrf_token %}
			</form> 
		</div>
		<div class="col-sm-2">
			<div id = "hint">
				<h3 id="descr-title"></h3>
				<div id="descr-text"></div>
			</div>
		</div>
	</div>
	 
	
{% endblock %}
 

 

{% block javascript %}
<script type="text/javascript">
	
	// Enable all tooltips
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
	});
		
	var background_rgb = getRgb(theme.backgroundColor);
	for (i = 1; i <= 30; ++i){
		try {
			color = theme.palette(i);
			document.getElementById("rb"+i).style.color = color;
			
			rgb = getRgb(color);  
			/*
			color = $c.rgb2hex( 
				~~(0.2*rgb[0]+0.8*background_rgb[0]), 
				~~(0.2*rgb[1]+0.8*background_rgb[1]),
				~~(0.2*rgb[2]+0.8*background_rgb[2])
			);*/
			$(".tpc" + i).css("background-color", color);
			$(".tpc" + i).css("color", "white");
		} catch (e) {;}
	}
	
	document.getElementById('content').scrollTop = {{scroll_top}};
	document.getElementById("content").onscroll = function(){
		scroll_top = document.getElementById('content').scrollTop;
		document.getElementById("scroll_top").value = scroll_top; 
	};
	
	var somethingSelected = false;
	
	
	function doSelection() {
		selection = window.getSelection();
		selectedText = selection.toString(); 
		if (selectedText.length > 1) {
			anchorPos = parseInt(selection.anchorNode.parentNode.attributes["offset"].value) + selection.anchorOffset;
			focusPos = parseInt(selection.focusNode.parentNode.attributes["offset"].value) + selection.focusOffset;
			//alert(anchorPos + "/" + focusPos);
			document.getElementById("selection_start").value = Math.min(anchorPos, focusPos);
			document.getElementById("selection_end").value  = Math.max(anchorPos, focusPos);
			somethingSelected = true;
		} else {
			somethingSelected = false;
		}
		
		{% if topic_first %}
			document.getElementById("topic_id").value = document.getElementById("formSelectTopic").elements["selected_topic"].value;
			sendSelection();
		{% endif %}
	}
	
	function clickTopic(topic_id, active) {
		showDescription(topic_id);
		document.getElementById("topic_id").value = topic_id;
		if (somethingSelected) {
			sendSelection();
		} else {
			if (! active) {
				useTopic(topic_id);
			}
		}
	}
	
	
	function sendSelection() {
		if (somethingSelected) { 
			document.getElementById("action").value = "selection";
			document.getElementById("formMain").submit();
		} 
	}
	
	{% autoescape off %}
	function showDescription(topic_id=-2) {
		descrTitle = document.getElementById("descr-title");
		descrText = document.getElementById("descr-text");
		descrTitle.innerHTML = "Нет темы";
		descrText.innerHTML = "";
		if (topic_id == -2) {
			topic_id = document.getElementById("formSelectTopic").elements["selected_topic"].value;
		}
		{% for x in topics %}
			{% if x.color > 0 %}
				if (topic_id == {{x.topic.index_id}}) {
					descrTitle.innerHTML = "{{x.topic.name}}";
					descrText.innerHTML = "{{x.topic.description_html}}";
				}
			{% endif %}
		{% endfor %}
	}
	{% endautoescape %}
	 
	showDescription();
	
	function useTopic(topic_id) { 
		document.getElementById("action").value = "topic_use";
		document.getElementById("topic_id").value = topic_id;
		document.getElementById("formMain").submit();
	}  
	
	function notUseTopic(topic_id, action) {
		document.getElementById("action").value = "topic_not_use";
		document.getElementById("topic_id").value = topic_id;
		document.getElementById("formMain").submit();
	}
	
	function finish()  {
		finishForm = document.getElementById("finishForm");
		document.getElementById("continue").value = "false";
		finishForm.submit();
	}
	
</script>
{% endblock %}
