{% extends 'base.html' %}

{% block title %}VisARTM | Instructions{% endblock %}
 
{% block content %}
	<p>Здравствуйте, {{request.user}}!</p>
	<p>Благодарим за участие в оценивание коллекции {{problem.dataset}}.</p>
	
	<hr>
	<p>Вам будет предложено оценить ряд документов. В каждом документе вы должны будете выделить все тематические сегменты.</p>
	
	<p>Сначала прочтите документ и решите, какие темы в нём присутствуют. Справа вы увидите список тем. Они разбиты на две группы, сверху - те которых нет в данном доккументе, снизу - те, которые есть. Чтобы переместить тему из верхней грппы в нижнюю, нажмите на неё. Чтобы удалить тему их нижней группы, нажмите на крестик рядом с названием темы. Чтобы прочесть описание темы, наведите укзатель на её название.</p>
	
	<p>Если вы считаете, что в этом документе есть тема, которой нет в списке, введите её название в поле под списокм тем и нажмите
	<b>Add topic</b>.</p>
	
	<p>Теперь приступите к поиску сегментов. Выделяйте сеггменты мышкой и нажимайте на название темы, к которой, по-вашему, этот сегмент относится.
	Сегмент будет подсвечен. Обратите внимание, что он будет подсвчен тем же цветом, какой имеет название темы.</p>
	
	<p>Если вы хотите удалить какой-то сегмент, выделите любую его часть и нажмите <b>No topic</b>. Если вы хотите поменять своё решение относительно уже выделенного сегмента, или изменить его границы - выделите нужный сегмент и нажмите на нужную тему. Старое выделение автоматически удалится.</p>

	<p>По окончании нажмите <b>Finish assessment</b>.</p>
	
	<p>Если вы случайно закрыли окно с документом, можно вернуться к оцениванию. Для этого зайдите в личный каинет, найдите раздел <b>Assessment problems</b>, и в нём <b>Current tasks</b>. Там отображаются все документы, которые вы начали оценивать, но не закончили. Помните, что если вы не оцните документ в течение часа после начала оценивания, задание, связанное с этим докуметом, будет удалено.</p>
	
	<hr>
	<p>Ознакомьтесь с текущим списком тем:</p>
	{% for topic in topics %}
		<big>{{forloop.counter}}. {{topic.name}}</big>
		<ul>
		{% for line in topic.description_lines %}
			<li>{{line}}</li>
		{% endfor %}
		</ul>
	{% endfor %}
	
	 
	<p><a href="/assessment/get_task?problem_id={{problem.id}}">Приступить к оцениванию</a></p>
{% endblock %}
 
