.slideshow-container {
    height: 100%;
    font-size: 0;
}

.slideshow-images {
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.slideshow-content {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    white-space: nowrap;
}

.slideshow-slide {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.slideshow-slide--image {
	width: 100%;
}

//@media screen and (max-width: 779px) {
    .slideshow-slide--content {
        width: 100%;
        height: 100%;
        color: #222;
        background-color: white;
        padding: 10px;
        box-sizing: border-box;
        white-space: initial;
    }
// }

// @media screen and (min-width: 780px) {
    .slideshow-slide--content {
        width: 100%;
        height: 100%;
        color: #222;
        background-color: white;
        padding: 10px 80px;
        box-sizing: border-box;
        white-space: initial;
    }
//}

.slideshow-nav {
    background-color: transparent;
    background-image: url('/static/slideshow/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    border: none;
    z-index: 100;
    outline: none;
    padding: 0px;
    opacity: 0.6;
}

.no-touch .slideshow-nav {
    width: 62px;
    height: 62px;
    top: 50%;
    transform: translateY(-50%);
    margin: 2px 10px;
}

.no-touch .slideshow-nav--prev {
    transform: scaleX(-1) translateY(-50%);
}

.no-touch .slideshow-nav:not(.inactive):hover  {
    opacity: 0.8;
}

.slideshow-nav--next {
    right: 0;
}

.touch .slideshow-nav {
    width: 32px;
    height: 32px;
    bottom: 0px;
    margin: 2px 10px;
}

.touch .slideshow-nav--prev {
    transform: scaleX(-1);
}

.slideshow-nav.inactive {
    opacity: 0.2;
}

.slideshow-counter {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    left: 0;
    bottom: 0;
    color: white;
    padding: 10px 14px;
    width: 100%;
    font-size: 16px;
}

.touch .slideshow-counter {
    padding-left: 50px;
}

.no-js .slideshow-images {
    overflow-x: auto;
}

.no-js .slideshow-content {
    overflow-x: auto;
}

.no-js .slideshow-nav {
    display: none;
}

.no-js .slideshow-counter {
    display: none;
}

