{% extends 'base.html' %}

{% block title %}VK loader{% endblock %}

{% block content %}
	<h1>VK loader</h1>
	<hr> 
	<form method="post">
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Public domain</label>
			<div class="col-sm-1">
				<input placeholder="domain" name="domain" required />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Head length</label>
			<div class="col-sm-1">
				<input type="number" name="cut" min = "1" max="1000000" value="1000000" />
			</div>
		</div>
		
		<div class="form-group row">
			<div class="offset-sm-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Download</button>
			</div>
		</div> 
 			
		{% csrf_token %}
	</form>
{% endblock %}
 