{% extends 'base.html' %}

{% block title %}Artm Online | Dataset overview{% endblock %}

{% block content %}
	<h1>Model {{model}}</h1>
	
	{% for layer in topics_layers %}
		<h2>Level {{layer.i}} topics</h2>
		{% for topic in layer.topics %}
			<a href = "/visual/topic?id={{topic.id}}" > {{topic}}</a><br>
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block right %}
<h4>Properties</h4>
	Dataset: <a href="/visual/dataset?dataset={{model.dataset.text_id}}">{{model.dataset}}</a>
	<br>
	Number of layers: {{model.layers_count}}
	<br>
	Author: <a href="/accounts/{{model.author}}">{{model.author}}</a>
<hr>
<h4>Options</h4>
  {% if not user.is_anonymous %}
	<a href = "/models/change_model?model={{model.id}}">Change</a> 
	<br>
	<a href = "/models/reload_model?model={{model.id}}">Reload</a> 
	<br>
	<a href = "/models/reload_model?model={{model.id}}&light=1">Reload visualizations</a> 
	<br>
	<a href = "/models/delete_model?model={{model.id}}">Delete</a>
  {% endif %}  
{% endblock %}