{% extends 'base.html' %}

{% block title %}Artm Online | Dataset overview{% endblock %}

{% block content %}
	<h1>Model {{model}}</h1>
	
	{% for layer in topics_layers %}
		<h3>Level {{layer.i}} topics</h3>
		{% for topic in layer.topics %}
			<a href = "/topic?id={{topic.id}}" > {{topic}}</a><br>
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block right %}
<h4>Properties</h4>
	Dataset: <a href="/dataset?dataset={{model.dataset.text_id}}">{{model.dataset}}</a>
	<br>
	{% for layer in topics_layers %}
		Layer {{layer.i}}: {{layer.topics_count}} topics
		<br>
	{% endfor %}
	Threshold: {{model.threshold}}%<br>
	Author: <a href="/accounts/{{model.author}}">{{model.author}}</a>
<hr>

<h4>Visualizations</h4>
	<a href = "/visual/global?type=htmltree&model={{model.id}}">HTML tree</a> <br>

	{% if model.dataset.time_provided %}
	<a href = "/visual/global?type=temporaldots&model={{model.id}}">Temporal dots</a> <br>
	<a href = "/visual/global?type=temporalcells_month&model={{model.id}}">Temporal cells (by month)</a> <br>
	<a href = "/visual/global?type=temporalcells_day&model={{model.id}}">Temporal cells (by day)</a> <br>
	{% endif %}
	
	<a href = "/visual/global?type=polygonal&model={{model.id}}">Polygonal</a> <br>
	<a href = "/visual/global?type=foamtree&model={{model.id}}">FoamTree</a> <br>
	<a href = "/visual/global?type=foamtree_light&model={{model.id}}">FoamTree (light)</a> <br>
	<a href = "/visual/global?type=circles&model={{model.id}}">Circles</a> <br>
	<a href = "/visual/global?type=tsne&model={{model.id}}">t-SNE</a> <br>
<hr>


<h4>Options</h4>
  {% if not user.is_anonymous %}
	<a href = "/models/change_model?model={{model.id}}">Change</a> 
	<br>
	<a href = "/models/reload_model?model={{model.id}}">Reload</a> 
	<br>
	<a href = "/models/arrange_topics?model={{model.id}}&mode=alphabet">Arrange topics(alphabetically)</a> 
	<br>
	<a href = "/models/arrange_topics?model={{model.id}}&mode=hamilton">Arrange topics(Hamilton path)</a> 
	<br>
	<a href = "/models/arrange_topics?model={{model.id}}&mode=tsne">Arrange topics(t-SNE)</a> 
	<br>
	<a href = "/models/reset_visuals?model={{model.id}}">Reset visualizations</a> 
	<br>
	<a href = "/models/delete_model?model={{model.id}}">Delete</a>
  {% endif %}  
{% endblock %}