{% extends 'base.html' %}

{% block title %}VisARTM | Model {{model}}{% endblock %}

{% block content %}
	<h1>Model {{model}}</h1>
	
	{% for layer in topics_layers %}
		<h3>Level {{layer.i}} topics</h3>
		{% for topic in layer.topics %}
			<a href = "/topic?id={{topic.id}}" > {{topic}}</a><br>
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block right %}
<h4>Properties</h4>
	Dataset: <a href="/dataset?dataset={{model.dataset.text_id}}">{{model.dataset}}</a>
	<br>
	{% for layer in topics_layers %}
		Layer {{layer.i}}: {{layer.topics_count}} topics
		<br>
	{% endfor %}
	Threshold (docs): {{model.threshold_docs}}%<br>
	{% if model.layers_count > 1 %}
		Threshold (hier): {{model.threshold_hier}}%<br>
	{% endif %}
	
	Author: <a href="/accounts/user/{{model.author}}">{{model.author}}</a><br>
	Arrangement: {{model.arrangement_mode}}, metric={{model.metric}}
	
<hr>

<h4>Visualizations</h4>
	<a href = "/visual/global?type=htmltree&model={{model.id}}">HTML tree</a> <br>
	<a href = "/visual/global?type=layeredspectrum&model={{model.id}}">Layered spectrum</a> <br>

	{% if model.dataset.time_provided %}
	<a href = "/visual/global?type=temporaldots&model={{model.id}}">Temporal dots</a> <br>
	<a href = "/visual/global?type=temporalcells_day&model={{model.id}}">Temporal cells</a> <br>
	<a href = "/visual/global?type=temporalchart_day&model={{model.id}}">Temporal chart</a> <br>
	{% endif %}
	
	<a href = "/visual/global?type=polygonal&model={{model.id}}">Polygonal</a> <br>
	<a href = "/visual/global?type=foamtree&model={{model.id}}">FoamTree</a> <br>
	<a href = "/visual/global?type=foamtree_light&model={{model.id}}">FoamTree (light)</a> <br>
	<a href = "/visual/global?type=circles&model={{model.id}}">Circles</a> <br>
	<a href = "/visual/global?type=tsne&model={{model.id}}">t-SNE</a> <br>
<hr>



	{% if request.user == model.author %} 
		<h4>Arrange</h4>
		
		<form method="get" action="/models/arrange_topics">
			<div>
				Mode: 
				<select id="arrangement_mode" name="mode">
					<option value="index">index</option>
					<option value="alphabet">alphabet</option>
					<option value="hamilton">hamilton</option>
					{% if model.layers_count > 1 %}
						<option value="hierarchical">hierarchical</option> 
					{% endif %}
					<option value="tsne">tsne</option>
					<option value="mds">mds</option>
					<option value="dendro">dendro</option>
				</select>
			</div> 
			
			<div>
				Metric: 
				<select id="arrangement_metric" name="metric">
					{% for metric in metrics %}
						<option value="{{metric}}">{{metric}}</option>
					{% endfor %}								
				</select>
			</div> 
			
			<input type="hidden" name="model" value="{{model.id}}"></input>
			  
			<button type="submit">Arrange!</button>
		</form>
		
		<a href="/models/delete_cached_distances?model_id={{model.id}}">Delete cached distances</a>
		<hr>
	
		<h4>Options</h4>
		<a href = "/models/settings?model_id={{model.id}}">Settings</a> 
		<br>
		<a href = "/models/reload_model?model={{model.id}}">Reload</a> 
		<br>  
		<a href = "/models/reset_visuals?model={{model.id}}">Reset visualizations</a> 
		<br>
		<a href = "/models/delete_model?model={{model.id}}">Delete</a>
		<br>
		<a href = "/models/model_log?model_id={{model.id}}">Watch log</a>
		<br>
		<a href = "/models/dump?model_id={{model.id}}">Dump</a>
		<br>
		<a href = "/research/create?dataset_id={{model.dataset.id}}&model_id={{model.id}}">Research</a>
		<br>
		<a href = "/admin/models/artmmodel/{{model.id}}/change/">Administration</a>  
	{% endif %}  
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	document.getElementById("arrangement_mode").value = "{{model.arrangement_mode}}";
	document.getElementById("arrangement_metric").value = "{{model.metric}}";
</script>
{% endblock %}