{% extends 'base.html' %}

{% block title %}VisARTM | Settings for model {{model}}{% endblock %}

{% block content %}
	<h1>Settings for model {{model}}</h1>
	{% if model.status == 3 %}<p>Model is empty!</p>{% endif %}
	<hr>
	<h3>Matrices</h3>
	<form method = "post" enctype="multipart/form-data"> 			
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Archive</label>
			<div class="col-sm-1">
				<input type="file" name="archive" required />
			</div>
		</div> 
		
		<input type="hidden" name="model_id" value="{{model.id}}" />
		<input type="hidden" name="action" value="matrices" />
		
		<div class="form-group row">
			<div class="offset-sm-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Reload</button>
			</div>
		</div>
		{% csrf_token %}
	</form>
	<hr>
	<h3>Parameters</h3>
	<form method = "post"> 			
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Threshold (documents)</label>
			<div class="col-sm-1">
				<input type="number" name="threshold_docs" min = "1" max="100" value="{{model.threshold_docs}}" />
			</div>
		</div> 
		
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Threshold (hierarchical)</label>
			<div class="col-sm-1">
				<input type="number" name="threshold_hier" min = "1" max="100" value="{{model.threshold_hier}}" />
			</div>
		</div> 
		
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Maximal number of parents in hierarchy</label>
			<div class="col-sm-1">
				<input type="number" name="max_parents_hier" min = "1" max="100" value="{{model.max_parents_hier}}" />
			</div>
		</div> 
		
		<input type="hidden" name="model_id" value="{{model.id}}" />
		<input type="hidden" name="action" value="parameters" />
		
		<div class="form-group row">
			<div class="offset-sm-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
		{% csrf_token %}
	</form>
	
	<hr>
	<h3>Topic naming</h3>
	
	<form method="post">
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Number of top words in topic name</label>
			<div class="col-sm-1">
				<input type="number" name="topic_naming_top_words" min = "1" max="10" value="{{model.topic_naming_top_words}}" />
			</div>
		</div> 
		
		<div class="form-group row">
			<div class="offset-sm-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
	
		<input type="hidden" name="model_id" value="{{model.id}}" />
		<input type="hidden" name="action" value="topic_naming" />
		{% csrf_token %}
	</form>
	
	
	<hr>
	<br>
	<a href = "/models/delete_model?model={{model.id}}">Delete this model</a>
{% endblock %}
 