{% extends 'base.html' %}

{% block title %}Artm Online | {{topic}} {% endblock %}

{% block content %}
	<h1> Topic {{topic.title}} </h1>
	<hr>
	{% if is_low %}
		<h3>Documents</h3>
		{% for doc in documents %}
			<a href = "/document?id={{doc.document.id}}" >{{doc.document.title}}</a>
			<br>
		{% endfor %}
	{% else %}
		<h3>Topics</h3>
		{% for topic in topics %}
			<a href = "/visual/topic?id={{topic.child.id}}" >{{topic.child}}</a>
			<br>
		{% endfor %}
	{% endif %} 
{% endblock %}

{% block right %}
<div> 
	<h4>Information</h4>
	Dataset: <a href="/dataset?dataset={{topic.model.dataset.text_id}}">{{model.dataset}}</a><br>
	Model: <a href="/visual/model?model={{topic.model.id}}">{{model}}</a><br>
	Layer: {{topic.layer}}<br>
	Documents: {{topic.documents_count}}	
	<form class="" role="search" method="POST" action="/topics/rename">
		Rename: <input type="text" name='new_title' class="" placeholder = "" value="{{topic.title}}"></input>
		<input type="hidden" name='id' value="{{topic.id}}"> </input> 
		{% csrf_token %}
	</form>
	
	<hr>
	
	{% if is_low %}
		<h4>Distribution over higher topics</h4>
		{% for x in topic_dist%}
			<a href ="/visual/topic?id={{x.topic.id}}">{{x.topic}}</a>  {{x.weight | floatformat:2}}%<br>
		{% endfor %}
	{% endif %}
	<h4>Related topics</h4>
	{% for related_topic in related_topics%}
		<a href="/visual/topic?id={{related_topic.topic2.id}}">{{related_topic.topic2}}</a> ({{related_topic.weight | floatformat:2}})
		<br>
	{% endfor %}
	
	<hr>
	
	<h4>Top terms</h4>
	{% for top_term in top_terms%}  
		<a href = "/term?ds={{topic.model.dataset.id}}&iid={{top_term.term.index_id}}" >{{top_term.term}}</a> ({{top_term.weight | floatformat:4}})
		<br> 
	{% endfor %}
	
		
</div>


{% endblock %}

{% block additional_scripts %}
<script src="/static/js/d3pie.min.js"></script>
<script src="/static/js/pie.js"></script>
{% endblock %}


