{% extends 'base.html' %}

{% block title %}Artm Online | {{topic}} {% endblock %}

{% block content %}
	
	
	
	<h1> Topic {{topic.title}} </h1>
	<hr>
	{% if is_low %}
		<h3>Documents</h3>
		<div id="documents"></div>
		<p><a id = "morelink" onclick = "append(100)"></a></p>
	{% else %}
		<h3>Topics</h3>
		{% for topic in topics %}
			<a href = "/topic?id={{topic.child.id}}" >{{topic.child}}</a>
			<br>
		{% endfor %}
	{% endif %} 
{% endblock %}

{% block right %}
<div> 
	<h4>Information</h4>
	Dataset: <a href="/dataset?dataset={{topic.model.dataset.text_id}}">{{topic.model.dataset}}</a><br>
	Model: <a href="/model?model={{topic.model.id}}">{{topic.model}}</a><br>
	Layer: {{topic.layer}}<br>
	Documents: {{topic.documents_count}}	
	<form class="" role="search" method="POST" action="/topics/rename">
		Rename: <input type="text" name='new_title' class="" placeholder = "" value="{{topic.title}}"></input>
		<input type="hidden" name='id' value="{{topic.id}}"> </input> 
		{% csrf_token %}
	</form>
	
	<hr>
	
	{% if is_low %}
		<h4>Distribution over higher topics</h4>
		<p>Not implemented</p>
	{% endif %}
	<h4>Related topics</h4>
	{% for related_topic in related_topics%}
		<a href="/topic?id={{related_topic.topic2.id}}">{{related_topic.topic2}}</a> ({{related_topic.weight | floatformat:2}})
		<br>
	{% endfor %}
	
	<hr>
	
	<h4>Top terms</h4>
	{% for top_term in top_terms%}  
		<a href = "/term?ds={{topic.model.dataset.id}}&iid={{top_term.term.index_id}}" >{{top_term.term}}</a> ({{top_term.weight | floatformat:4}})
		<br> 
	{% endfor %}
	
		
</div>


{% endblock %}


{% block javascript %}
<script type="text/javascript">	
	api = new ArtmApi();
	busy = false;
	counter = 0;
	append(100);
	
	function append(count) {
		if (busy) return;
		busy = true;
		api.getDocumentsByTopic({{topic.id}}, counter, count, function(documents) {
			documents.forEach(function(doc, i, arr) {
				document.getElementById("documents").innerHTML += "<a href='/document?id=" + doc.id + "&model_id={{topic.model.id}}'>" + 
					doc.title + "</a> (" + doc.weight + "%)<br>";
			});
			document.getElementById("morelink").innerHTML = ((documents.length == count) ? "More" : "");
			busy = false;
		});
		counter += count;
	}
</script>
{% endblock %}


