<!--DOCTYPE html-->
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!-- <meta name="description" content=""> -->
<!-- <meta name="author" content=""> -->
<link rel="shortcut icon" href='/static/logo/logo.png'/>

<!-- <title>Static Top Navbar Example for Bootstrap</title> -->

<link href="/static/css/base.css?version={% now 'U' %}" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/navbar-static-top.css" rel="stylesheet">

{% load extra_tags %}
<!-- Color theme -->
<!-- ?version={% now 'U' %} -->
<link href="/static/themes/{% color_theme %}.css?version={% now 'U' %}" rel="stylesheet">
<script src="/static/themes/{% color_theme %}.js?version={% now 'U' %}"></script>
<!--<link href="/color-theme.css" rel="stylesheet"> -->

<!-- d3js.org -->



{% block style %}{% endblock %}

<title>{% block title %}{% endblock %}</title>


<link rel='stylesheet' href='/static/css/base.css' />


</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Artm Online<sup>β</sup></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li class=""><a href="/datasets">Datasets</a></li>
		<li><a href="/search">Search</a></li>
		<li class=""><a href="/settings">Settings</a></li>
		<li class=""><a href="http://artmonline.readthedocs.io/">Docs</a></li>
     </ul>
	 
      <ul class="nav navbar-nav navbar-right"> 
		{% if not user.is_anonymous %}  
			<li><a href="/accounts/{{ user.get_username }}">{{ user.get_username }}</a></li>
			<li><a href="/accounts/logout">Log out</a></li>
		{% else %}
			<li><a href="/accounts/login">Log in</a></li>
			<li><a href="/accounts/signup">Register</a></li>   
		{% endif %} 
      </ul>
    </div> 
  </div> 
</nav>


<div class='container-fluid'>
	<div class="col-sm-9">
		<div>
			{% block content %} 
			{% endblock %}
		</div>
	</div>
	<div class="col-sm-3">
		{% block right %} 
		{% endblock %}
	</div>
</div>

{% if not no_footer %}
<p></p>
<hr>
<footer class="footer">
  <div class="container">
	<p align="center" class="text-muted">&copy; Aithea, 2017</p>
  </div>
</footer>
{% endif %}

</body>

<script src="/static/jquery-1.11.3/jquery.min.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/artmonlineapi.js?version={% now 'U' %}"></script>
{% block javascript %}
{% endblock %}

</html>