{% extends 'base.html' %}

{% block title %}VisARTM | Setting{% endblock %}

{% block content %}
<h1>Settings</h1>
<hr>
<h3>Presentation</h3>  
 <form>
    <div class="form-group row">
      <input type="checkbox" id="highlight_terms" onchange="settingUpdate('highlight_terms', 'checked')" />
	  <label   class="col-sm-2 col-form-label">Highlight terms</label>
    </div> 
	
	<div class="form-group row">
      <input type="checkbox" id="temporal_spectrum" onchange="settingUpdate('temporal_spectrum', 'checked')" />
	  <label   class="col-sm-2 col-form-label">Spectrum in TS</label>
    </div> 
	
	<div class="form-group row">
      <label for="dataset" class="col-sm-2 col-form-label">Cut in BOW</label>
		<div class="col-sm-2">
			<select class="form-control" id="cut_bow" onchange="settingUpdate('cut_bow', 'value');">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div> 	
	</div>
    </div> 
	
	<hr>
	<div class="form-group row">
		<label for="dataset" class="col-sm-2 col-form-label">Color theme</label>
		<div class="col-sm-2">
			<select class="form-control" id="color_theme" onchange="settingUpdate('color_theme', 'value');location.reload();">
			  {% for theme in themes %}
				<option>{{theme}}</option>
			  {% endfor %}
			</select>
		</div> 	
	</div>
	
	<div id="palette"></div>
	
	<hr>
	
	<a href = "/admin">Server administration</a>
</div> 

{% endblock %}


{% block javascript %}

<script type="text/javascript">
	document.getElementById("highlight_terms").checked = !(getCookie("highlight_terms") == "false");
	document.getElementById("temporal_spectrum").checked = !(getCookie("temporal_spectrum") == "false");
	document.getElementById("color_theme").value = getCookie("color_theme", "light");
	document.getElementById("cut_bow").value = getCookie("cut_bow", "1");

	
	function getCookie(name, default_value) {
	  var matches = document.cookie.match(new RegExp(
		"(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
	  ));
	  return matches ? decodeURIComponent(matches[1]) : default_value;
	}
	
	function setCookie(name, value) {
	  document.cookie = name + "=" + value;
	} 
	function settingUpdate(name, attribute) {
		value = document.getElementById(name)[attribute];
		console.log(value);
		setCookie(name, value);
	}
	
	var svg1 = d3.select("#palette")
             .append("svg")
             .attr("width", 1000)
             .attr("height", 50);
			 
	svg1.selectAll("circle")
		.data( d3.range(-1,21) )
		.enter()
		.append("circle")
		.attr("r", 18 )
		.attr("cx", function(d){
			return 38*(d+1.5);
		})
		.attr("cy", 25)
		.attr("stroke", theme.textColor)
		.attr("stroke-width","0")
		.attr("fill", function(d) {
			return theme.palette(d);
		})
		.on("mouseover", function(d, i) {
			d3.select(this)
			   .attr("stroke-width", 2);
		})
		.on("mouseout", function(d, i) {
			d3.select(this)
			   .transition().duration(500).attr("stroke-width", 0);
		})
		;
		
	svg1.selectAll("text")
		.data( d3.range(-1,21) )
		.enter()
		.append("text")
		.text(function(d){
			return d;
		})
		.attr("x", function(d){
			return 38*(d+1.4);
		})
		.attr("y", 30)
		.attr("fill", theme.textColor)
		.attr("pointer-events","none")
		;
		
</script>

{% endblock %}