body {
    background-color: black;
	color: white;
}

.nolink{
  cursor: pointer;
  text-decoration: none;
 
} 

.nolink:hover{ 
  text-decoration: none;
  color: blue; 
} 

 
.tpc0 {
    color:#bbbbbb;
}

.tpc1 {
    color:#aa0000;
}

.tpc2 {
    color:#00aa00;
}

.tpc3 {
    color:#0000aa;
}

.tpc4 {
    color:#aa0000;
}