{% extends 'base.html' %}
{% load extra_tags %}

{% block title %}{{dataset}} | Temporal cells {% endblock %}
{% block style %}
	<style type="text/css">
		div.tooltip {	
			position: absolute;			
			text-align: center;			
			#width: 60px;					
			#height: 28px;					
			padding: 2px;				
			font: 12px sans-serif;		
			background: lightsteelblue;	
			border: 0px;		
			border-radius: 8px;			
			pointer-events: none;			
		}
	</style>
{% endblock %}

{% block content %}
<div   style="margin-left:-25px;" id = "picture_container" width="100%" height="100%" >
	<svg id="picture"></svg>
</div>
{% endblock %}

{% block right %} 
	Group by :
	<select id = "select_group" onchange="changeMode();">
		<option>year</option>
		<option>month</option>
		<option>week</option>
		<option>day</option>
	</select>
	<br>
	Normalize by: 
	<select id = "select_norm" onchange="changeMode();">
		<option>all</option>
		<option>column</option>
		<option>row</option> 
	</select>
	<hr>
	
	<div>
		<h4 id="label1"> </h4>  
		<p id="label2"> </p>  
		<p id="label3"> </p>  				
	</div>
	
	<div id="docs_links">
	</div>
{% endblock %}

{% block javascript %}  

<script src="/static/js/d3.v3.min.js"></script>  
<script type="text/javascript">
	
	{% autoescape off %}
	{{data}}
	{% endautoescape %}
	
	var api = new ArtmApi(); 
	var topics_count = topics.length; 
	var dates_count = dates.length; 
	
	var topic_label_width = 150;
	var date_label_width = 50;
	var square_size = 18;
	topic_labels_shift = 0;
	
	two_layered = false;
	if (typeof high_topics !== 'undefined' && high_topics.length > 0) {
		two_layered = true;
		topic_labels_shift = 200;
	} 
	
	/*
	if (high_topics.length > 0) {
		//topic_label_width  = 400;
	}
	*/
	var svgWidth = 0.73 * window.innerWidth;
	var svgHeight = square_size * topics_count + date_label_width; 
	
	var topColor = getRgb(theme.temporalSquares_TopColor);
	var bottomColor = getRgb(theme.temporalSquares_BottomColor);
	var activeColor = getRgb(theme.temporalSquares_ActiveColor);
	var emptyColor = getRgb(theme.temporalSquares_EmptyColor);

	document.getElementById('picture').setAttribute("width", svgWidth);
	document.getElementById('picture').setAttribute("height", svgHeight);
	 
	

	
	cells_content = [];
	
	//Create SVG element
	var svg = d3.select("#picture")
				.append("svg");
	
	var group_cells = svg.append("g");
	var group_date_labels = svg.append("g");
	var group_labels = svg.append("g");
	var group_topic_labels = svg.append("g");
	var group_high_topic_labels = svg.append("g");
	
	var group_colorbar = svg.append("g");
	var topics_count = topics.length;
	 
	var selected_cell; 
	var shift_x = 0;
	
	var drag = d3.behavior.drag()
		.origin(function(d) { return d; })
		.on("dragstart", function(d){d3.event.sourceEvent.stopPropagation();})
		.on("drag", dragged)
		.on("dragend", function(d){});

	group_cells.append("rect")
		.attr("x",-10000)
		.attr("y",-10000)
		.attr("width",20000)
		.attr("height",20000)
		.attr("fill", "transparent")
		.call(drag);
	
	var cells = group_cells.selectAll("rect")
		.data(cells)
		.enter()
		.append("rect")
		.attr("x", get_cell_x)
		.attr("y", function(d, i) {
			return square_size * d["Y"] + 1;
		})
		.attr("width", square_size - 2)
		.attr("height", square_size - 2)	
		.attr("stroke-width", 1)
		.attr("fill", function(d, i) {
			return get_color(d["intense"], d["Y"]);
		}) 
		.on("mouseover", function(d, i) {
			//d3.select(this) 
			//	.attr("stroke", theme.textColor)
				
		})
		.on("mouseout", function(d, i) { 
			if (this != selected_cell) {
				//d3.select(this) 
				//	.attr("stroke", theme.backgroundColor) 
			}
		})
		.on("click", clicked)
		.call(drag);
		 

	
	var date_pointers = group_date_labels.selectAll("polygon")
		.data(dates)
		.enter()
		.append("polygon")
		.attr("points", function(d,i) {
			if (i % 10 != 0) return "";
			x = get_label_x(d,i)-12;
			y = square_size * topics_count + 7;
			return x + "," + y + " " + (x+5) + "," + (y-5) + " " + (x+10) + "," + y;
		})
	
	var date_labels = group_date_labels.selectAll("text")
		.data(dates)
		.enter()
		.append("text")
		.text(function(d,i) {
			if (i%10 == 0) {
			   return d["name"];
			}  
		})
		.attr("fill", theme.textColor)
		.attr("text-anchor", "end")
		.attr("x", get_label_x) 
		.attr("y", function(d, i) { 
			return 22 + square_size * topics_count; 
		});
		
		

	 
	
	var topicBackground = group_topic_labels
		.append("rect")
		.attr("x",0)
		.attr("y",0)
		.attr("width", topic_labels_shift + topic_label_width - 3)
		.attr("height", 3000)
		.attr("fill", "#ffffff")
		;
		
	if (two_layered) {
		var high_topic_labels = group_high_topic_labels.selectAll('text')
			.data(high_topics) 	 
			.enter()
			.append('text')
			.attr("x", topic_label_width)
			.attr("y", get_label_y)
			.text(function(d, i) {
				return d["name"]
			})
			.attr("fill", theme.textColor)
			.attr("text-anchor", "end");
			
	var connection_lines = group_high_topic_labels.selectAll('line')
			.data(lines) 	 
			.enter()
			.append('line')
			.attr("x1", 3 + topic_label_width)
			.attr("y1", function(d) {
				return 9 + square_size * d["from_y"];
			})
			.attr("x2", topic_labels_shift)
			.attr("y2",  function(d) {
				return 9 + square_size * d["to_y"];
			})
			.attr("stroke", theme.textColor)
			.attr("stroke-width", 2);
			
			
	}
	
	
	var topic_labels = group_topic_labels.selectAll('text')
		.data(topics) 	 
		.enter()
		.append('text')
		.attr("x", topic_labels_shift + topic_label_width - 3)
		.attr("y", get_label_y)
		.text(function(d, i) {
			return d["name"];
		})
		.attr("fill", theme.textColor)
		.attr("text-anchor", "end")
		.style("cursor", "pointer")
		.on("mouseover", function(d, i) {
			showTooltip(d["topwords"], d3.mouse(this));
		})
		.on("mouseout", function(d, i) { 
			hideTooltip(); 
		})
		;
	
	 
	 
	function get_cell_x(d, i){
		x = topic_label_width+square_size * d["X"] + shift_x;
		if (x < topic_labels_shift + topic_label_width) x = -1000;
		return x;
	}
	
	function get_label_x(d, i){
		x = topic_label_width + square_size * d["X"] + shift_x;
		if (x < topic_labels_shift + topic_label_width) x = -1000;
		return x + 14;
	}
	
	function get_label_y(d){
		return 13 + square_size * d["Y"];
	} 
	
	function dragged(d) {
		shift_x += d3.event.dx;
		cells.attr("x", get_cell_x);
		group_date_labels.attr("transform", "translate(" + shift_x + ")");
		topicBackground.update();
		//date_labels.attr("x", get_label_x);
	}
		 	
	function clicked(d, i) {  
			d3.select(selected_cell) 
				.attr("stroke-width", 0);
			d3.select(this) 
				.attr("stroke", "red")
				.attr("stroke-width", 3);
			selected_cell = this;
			document.getElementById("label1").innerHTML = topics[d["Y"]].name;
			document.getElementById("label2").innerHTML = dates[d["X"]]["name"];
			document.getElementById("label3").innerHTML = "Documents: " + d["docs"].length;
			
			/*
			if (docs_links) {
				docs_links
					.exit()
					.remove();
			}*/
			
			d3.select("#docs_links").selectAll("span")
				.remove();
			 
			api.getDocuments(d["docs"], function(documents) {
				var docs_links = d3.select("#docs_links").selectAll("span")
					.data(documents)
					.enter()
					.append("span") 
					.html(function(doc, i) {
						return "<small><a href='/document?id=" + doc["id"] + "&model_id={{model.id}}'>" + doc["title"] + 
							"</a>" /* +" (" + doc["date"] + ")" */ + "</small><br>";
					})
			}); 					
		}

	
	function getRgb(color) {
		if (color[0] == "#") return $c.hex2rgb(color).a;
		else return $c.name2rgb(color).a;
	}
	
	
	
	
	function get_color(kz, y) {
		ky = (y / topics_count); 
		if ({% temporal_spectrum %}) {
			R = topColor[0] * (1 - ky) + bottomColor[0] * ky; 
			G = topColor[1] * (1 - ky) + bottomColor[1] * ky;  
			B = topColor[2] * (1 - ky) + bottomColor[2] * ky;  
		} else {
			R = activeColor[0]; 
			G = activeColor[1]; 
			B = activeColor[2]; 
		}
		return d3.rgb(R * kz + emptyColor[0] * (1 - kz),
					  G * kz + emptyColor[1] * (1 - kz),
					  B * kz + emptyColor[2] * (1 - kz));
	} 
	
	
	var tooltip = d3.select("body").append("div")	
		.attr("class", "tooltip")				
		.style("opacity", 0);
	
	function showTooltip(message, mouse) {
		tooltip
			.transition(200)		
            .style("opacity", .9);	
		tooltip
			.html(message)
			.style("left", (d3.event.pageX) + "px")		
            .style("top", (d3.event.pageY - 28) + "px")
			.attr("visibility", "visible")
			;
	}

	function hideTooltip() {
		tooltip
			.transition(200)		
            .style("opacity", 0);
	}
	
	params = getUrlParameter("type").split('_');
	document.getElementById("select_group").value = params[1];
	document.getElementById("select_norm").value = params[2];
	
	function changeMode() {
		mode = "temporalcells_" + document.getElementById("select_group").value + "_" +
			document.getElementById("select_norm").value;
		window.location = "/visual/global?model={{model.id}}&type=temporalcells_" +
				document.getElementById("select_group").value + "_" +
				document.getElementById("select_norm").value;
	}
</script>
{% endblock %}