{% extends 'base.html' %}

{% block title %}{{dataset.name}}  | Temporal dots{% endblock %}



{% block content %}
<div align="center" id = "picture_container"  >
	<svg id="picture"></svg>
</div>
{% endblock %}


{% block right %}
<h4 id = "doc_title"></h4>
<i><p id = "doc_snippet"></p></i>
<p id = "doc_date"></p> 
{% endblock %}

{% block javascript %}


<script src="/static/js/d3.v3.min.js"></script>  
<script type="text/javascript">
	var api = new ArtmApi();  
	
	var svgWidth = 0.7*window.innerWidth;
	var svgHeight = window.innerHeight-100; 

	document.getElementById('picture').setAttribute("width", svgWidth);
	document.getElementById('picture').setAttribute("height", svgHeight);
	
	{% autoescape off %}
	{{data}}
	{% endautoescape %}
	 
	
	var topicLabelWidth = 150;
	var margin = 10;
	topicAreaWidth = svgWidth - topicLabelWidth - 2 * margin;
	 
	var topicHeight = svgHeight / topics.length;
	
	
	//Create SVG element
	var svg = d3.select("#picture")
				.append("svg");
				
	var g1 = svg.append("g");
	var g2 = svg.append("g");
	
	var circles = svg.selectAll("circle")
		.data(docs)
		.enter()
		.append("circle");
		

	circles.attr("cx", function(d, i) {
				return topicLabelWidth + margin + topicAreaWidth * d["X"];
		})
		.attr("cy", function(d, i) {
			return topicHeight * (d["Y"]+0.5);
		})
		.attr("r", 3)
		.on("mouseover", function(d, i) {
			d3.select(this)
			   .attr("r", 5)
			   .attr("fill", "red");
			api.getDocument(d["id"], function(doc){ 
				document.getElementById("doc_title").innerHTML = doc["title"];
				document.getElementById("doc_snippet").innerHTML = doc["snippet"]; 
				document.getElementById("doc_date").innerHTML = doc["time"] + " " + doc["date"]; 
			});   
			
		})
		.on("mouseout", function(d, i) {
			d3.select(this)
			   .attr("r", 3)
			   .attr("fill", THEME_textColor);
			//doc_title.innerHTML = "";
		//	doc_snippet.innerHTML = "";
			//doc_date.innerHTML = "";
		})
		.on("click", function(d, i) {
			window.open("/visual/document?id=" + d["id"]);
		})
		.attr("fill", THEME_textColor);
		
 
		
	var topic_labels = g2.selectAll('text')
		.data(topics) 	 
		.enter()
		.append('text')
		.attr("x", topicLabelWidth)
		.attr("y", function(d) {
			return 0.5 * topicHeight + 2 + topicHeight * d["Y" ];
		})
		.text(function(d, i) {
			return d["name"];
		})
		.attr("font-size", 10)
		.attr("fill", THEME_textColor)
		.attr("text-anchor", "end");
 

</script>
		
{% endblock %}
 