{% extends 'base.html' %}

{% block title %}{{dataset.name}}  | Temporal dots{% endblock %}



{% block content %}
<div align="center" id = "picture_container"  >
	<svg id="picture" style="margin-left:-25px;"></svg>
</div>
{% endblock %}


{% block right %}
<h4 id = "doc_title"></h4>
<i><p id = "doc_snippet"></p></i>
<p id = "doc_date"></p> 
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/d3.v3.min.js"></script>  

<script type="text/javascript">
	var api = new ArtmApi();  
	
	var svgWidth = 0.75*window.innerWidth;
	var svgHeight = window.innerHeight-100; 
	var margin = 5;
	var circleRadius = 6;
	var scaledCircleRadius = 6;

	document.getElementById('picture').setAttribute("width", svgWidth);
	document.getElementById('picture').setAttribute("height", svgHeight);
	
	{% autoescape off %}
	{{data}}
	{% endautoescape %}  
	
	var zoom = d3.behavior.zoom()
		.scaleExtent([1, 30])
		.on("zoom", zoomed);

	var drag = d3.behavior.drag()
		.origin(function(d) { return d; })
		.on("dragstart", dragstarted)
		.on("drag", dragged)
		.on("dragend", dragended);
	
	
	//Create SVG element
	var svg = d3.select("#picture")
				.append("svg")
				.call(zoom);
				
	var container = svg.append("g")
		.call(drag);
		
	var big_rect = container.append("rect")
		.attr("x",-10000)
		.attr("y",-10000)
		.attr("width",20000)
		.attr("height",20000)
		.attr("fill", "transparent")
		.call(drag);
	
	var circles = container.selectAll("circle")
		.data(docs)
		.enter()
		.append("circle")
		.attr("cx", function(d, i) {
			return margin + (svgWidth - 2 * margin) * d["X"];
		})
		.attr("cy", function(d, i) {
			return margin + (svgHeight - 2 * margin) * d["Y"];
		})
		.attr("r", circleRadius)
		.on("mouseover", function(d, i) {
			d3.select(this)
			   .attr("fill", THEME_activeColor);
			this.parentNode.appendChild(this);
			api.getDocument(d["id"], function(doc){ 
				document.getElementById("doc_title").innerHTML = doc["title"];
				document.getElementById("doc_snippet").innerHTML = doc["snippet"]; 
				document.getElementById("doc_date").innerHTML = doc["time"] + " " + doc["date"]; 
			});   
			
		})
		.on("mouseout", function(d, i) {
			d3.select(this)
			   .transition().duration(500).attr("fill", THEME_textColor);
		})
		.on("click", function(d, i) {
			window.open("/visual/document?id=" + d["id"]);
		})
		.attr("fill", THEME_textColor);
		
	function zoomed() {
		container.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
		scaledCircleRadius = circleRadius / d3.event.scale;
		circles.attr("r", scaledCircleRadius);
	}
	
	function dragstarted(d) {
		d3.event.sourceEvent.stopPropagation(); 
	}

	function dragged(d) {
		d3.select(this).attr("cx", d.x = d3.event.x).attr("cy", d.y = d3.event.y);
	}

	function dragended(d) {}

 

</script>
		
{% endblock %}
 