<!DOCTYPE html>
<meta charset="utf-8">

<script src="https://d3plus.org/js/d3.js"></script>
<script src="https://d3plus.org/js/d3plus.js"></script>

<style>
  svg {
    font-family: "Helvetica", "Arial", sans-serif;
    height: 425px;
    margin: 25px;
    width: 900px;
  }
  .type {
    fill: #888;
    text-anchor: middle;
  }
  .shape {
    fill: #eee;
    stroke: #ccc;
  }
</style>

<svg> 
 

  <rect class="shape" height="150px" width="150px" y="50px" x="200px"></rect>
  <text id="rectResize" class="wrap" y="50px" x="200px" font-size="12">
    Here is a long text string that SVG should wrap by default, but it does not.
  </text>

 

</svg>

<script>
 
  d3plus.textwrap()
    .container(d3.select("#rectResize"))
	.text("fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck fuck ")
	.shape("square")
	.width(200)
	.height(300)
    .resize(true)
    .draw();
 
</script>